<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">{{curso.nome}}</div>
  <div class="card-body">
    <h4 class="card-title">{{curso.sigla}}</h4>
    <p class="card-text">{{curso.descricao}}</p>
    <p class="card-text">Área: {{curso.Area.nome}}</p>
    <div style="display: flex; justify-content: space-between">
      <a class="btn btn-primary" href="/curso/update/{{curso.id}}">Editar Curso</a>
      <form action="/curso/remove/{{curso.id}}" method="post">
        <button type="submit" class="btn btn-primary">Excluir</button>
      </form>

    </div>
  </div>
</div>